nav.navbar {
  background-color: #367fa9!important;
}

nav > .container {
  margin-left: 0;
}

body > .container {
  margin-left: 0;
  height: 92vh;
}

body > .container > .row:first-child {
  height: 92vh;
}

.sidebar {
  background-color: #222d32;
}

label {
  color: #FFF;
  font-weight: 600;
}

button.submit {
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd;
  margin-left: 8px;
  width: 94%;
}

body {
  background-color: #ecf0f5;
}
